#app {
  display: grid;
  grid-template-columns: 30% 69%;
  gap: 1.25rem;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
}

main {
  overflow: auto;
  padding: 5rem;
  background-color: var(--shape-body);
  border-radius: 12px;
}

aside {
  padding: 2rem;
  background: url("/assets/Background.png") center/cover no-repeat;
  border-radius: 12px;

  & .aside-contianer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 21rem;
    margin-left: auto;
  }
  & .aside-text h1 {
    font: var(--text-2xl);
    color: var(--accent-colors-pink);
  }

  & .aside-text p {
    font-weight: 300;
  }

  & img {
    height: 48px;
    width: 45px;
  }
}
